## disable the octoprint menu
[menu __main __octoprint]
type: disabled

## disable the sdcard menu
[menu __main __sdcard]
type: disabled

[menu __main __temp __preheat_pla]
type: list
name: Preheat PLA

[menu __main __temp __preheat_pla __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S55
    M104 S210

[menu __main __temp __preheat_pla __hotend]
type: command
enable: {'extruder' in printer}
name: Preheat hotend
gcode: M104 S210

[menu __main __temp __preheat_pla __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Preheat hotbed
gcode: M140 S55

[menu __main __temp __preheat_abs]
type: disabled


## Filament menu
### menu filament ###
[menu __main __filament]
type: list
name: Filament
enable: {'extruder' in printer}

## Disable original filament  menu items
[menu __main __filament __hotend0_target]
type: disabled

[menu __main __filament __loadf]
type: disabled

[menu __main __filament __loads]
type: disabled

[menu __main __filament __unloadf]
type: disabled

[menu __main __filament __unloads]
type: disabled

[menu __main __filament __load]
type: command
name: Load Filament
gcode:
    LOAD_FILAMENT
index: 1

[menu __main __filament __unload]
type: command
name: Unload Filament
gcode:
    UNLOAD_FILAMENT
index: 2

[menu __main __filament __feed]
type: disabled


## Tuning menu items
[menu __main __setup __tuning]
type: list
name: PID tuning

[menu __main __setup __tuning __hotend_pid_tuning]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('extruder' in printer)}
name: Tune Hotend PID
gcode: PID_CALIBRATE HEATER=extruder TARGET=210 WRITE_FILE=1

[menu __main __setup __tuning __hotbed_pid_tuning]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('heater_bed' in printer)}
name: Tune Hotbed PID
gcode: PID_CALIBRATE HEATER=heater_bed TARGET=55 WRITE_FILE=1


